In [15]:
#coloned the git repository
!git clone --recursive https://github.com/Rithik-Alias/Salary-prediction-dashboard.git
%cd /content/Salary-prediction-dashboard

fatal: destination path 'Salary-prediction-dashboard' already exists and is not an empty directory.
/content/Salary-prediction-dashboard

In [16]:
#import necessary libraries
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [17]:
#imported the dataset
file = pd.read_csv('salarydata.csv')
file.head()

   age         workclass  education  ...  hours-per-week native-country salary
0   39         State-gov  Bachelors  ...              40  United-States  <=50K
1   50  Self-emp-not-inc  Bachelors  ...              13  United-States  <=50K
2   38           Private    HS-grad  ...              40  United-States  <=50K
3   53           Private       11th  ...              40  United-States  <=50K
4   28           Private  Bachelors  ...              40           Cuba  <=50K

[5 rows x 14 columns]

In [18]:
file.loc[file['workclass'] == '?', 'workclass'] = 'Unknown'
file.loc[file['occupation'] == '?', 'occupation'] = 'Unknown'
file.loc[file['native-country'] == '?', 'native-country'] = 'Unknown'
file = file.drop(columns = ['capital-gain', 'capital-loss', 'education-num'])

In [19]:
target = file.pop('salary')
character_columns = file.dtypes.pipe(lambda x: x[x == 'object']).index
label_mapping ={}
for col in character_columns:
  file[col], label_mapping[col] = pd.factorize(file[col])
#normalizing the data
scaler = StandardScaler()  #we scale the data for larger values not affecting the smaller values
file = scaler.fit_transform(file.values)

In [20]:
#split the data
x_train, x_test, y_train, y_test = train_test_split(file,target,test_size = 0.3, random_state = 42)
#Train the model
model = RandomForestClassifier(n_estimators=20)
model.fit(x_train, y_train)
print("---- Training complete-----")

---- Training complete-----

In [21]:
y_pred = model.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       <=50K       0.86      0.90      0.88      7455
        >50K       0.62      0.54      0.58      2314

    accuracy                           0.81      9769
   macro avg       0.74      0.72      0.73      9769
weighted avg       0.81      0.81      0.81      9769